---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Redirecting…" description="Redirecting to the FIRE Calculator." canonicalUrl="https://portfolioatlas.org/" noindex>
  <div class="container-narrow py-16 text-center">
    <p class="text-gray-500">Redirecting…</p>
  </div>
</Layout>
<script>
  window.location.replace('/' + window.location.search + window.location.hash);
</script>
